<div class="container-fluid">
  
  <div class="row">
    <!-- Image of me -->
    <div class="col-lg-2 col-md-3 col-sm-4 hidden-xs">
      <img src="images/jlp-img-1.jpg" title="Josh Potts" aria-label="Image of Josh Potts" class="main-profile-picture" />
    </div>
    <!-- Short description -->
    <div class="col-lg-9 col-md-8 col-sm-7 col-xs-12">
      <p>
        I am a developer based out of West Tenneessee. My hobbies include coding, woodworking,
        music. 
      </p>
    </div>
  </div>
</div>