<p>Here are a few of the projects I've worked on in my spare time, along with the technology
  and languages I've used before
</p>
<div class="panel panel-info">
  <div class="panel-heading">Projects</div>
  <div class="panel-body">
    <ul>
      <li *ngFor="let project of projects">{{project}}</li>
    </ul>
  </div>
</div>
<div class="panel panel-info">
  <div class="panel-heading">Technology</div>
  <div class="panel-body">
    <ul>
      <li *ngFor="let IDE of ides">{{IDE}}</li>
    </ul>
  </div>
</div>
<div class="panel panel-info">
  <div class="panel-heading">Languages</div>
  <div class="panel-body">
    <ul>
      <li *ngFor="let language of languages">{{language}}</li>
    </ul>
  </div>
</div>
